# Environment
.env
*.env.local

# Node
node_modules/
dist/
.vite/

# .NET
bin/
obj/
*.user
.vs/

# Python
__pycache__/
*.pyc
.venv/
venv/

# ML Models (trop lourds pour Git)
ml-service/saved_models/*.pkl

# OS
.DS_Store
Thumbs.db